In [1]:
ls

116Cd_d,p__old_peak_data/  116Cd_d,t_peak_data/  116Sn_d,p_peak_data/
116Cd_d,p_peak_data/       116Cd_p,d_peak_data/  Untitled.ipynb

In [2]:
cd 116Cd_p,d_peak_data/

/home/ben/Documents/analysis_code/calibration/peak_data/116Cd_p,d_peak_data

In [31]:
import glob
files = glob.glob('*')
files

['116Cd_p,d_115Cd_8degrees_bite_1_peaks.txt',
 '116Cd_p,d_115Cd_17degrees_bite_1_peaks.txt',
 '116Cd_p,d_115Cd_26degrees_bite_1_peaks.txt',
 '116Cd_p,d_115Cd_31degrees_bite_1_peaks.txt',
 '116Cd_p,d_115Cd_39degrees_bite_1_peaks.txt',
 '116Cd_p,d_115Cd_39degrees_bite_2_peaks.txt',
 '116Cd_p,d_115Cd_31degrees_bite_2_peaks.txt',
 '116Cd_p,d_115Cd_26degrees_bite_2_peaks.txt',
 '116Cd_p,d_115Cd_17degrees_bite_2_peaks.txt',
 '116Cd_p,d_115Cd_8degrees_bite_2_peaks.txt',
 '116Cd_p,d_115Cd_8degrees_bite_3_peaks.txt',
 '116Cd_p,d_115Cd_17degrees_bite_3_peaks.txt',
 '116Cd_p,d_115Cd_26degrees_bite_3_peaks.txt',
 '116Cd_p,d_115Cd_31degrees_bite_3_peaks.txt',
 '116Cd_p,d_115Cd_39degrees_bite_3_peaks.txt']

In [4]:
import pandas as pd

In [33]:
t = pd.read_table(files[0], sep = ' ')

In [32]:
a = t.loc[:,'POSITION':'sPOSITION']
b = t.loc[:,'AREA':'sAREA']
short = pd.concat([a,b], axis = 1)
short

    POSITION  sPOSITION   AREA  sAREA
0    1812.31       0.10  33700    193
1    1509.60       0.23   1143     35
2    1431.34       0.13   5476     75
3    1250.69       0.24   1121     38
4    1226.30       0.12   8748     96
5    1175.70       0.40    516     25
6       0.00       0.00      0      0
7    1055.49       0.23    997     33
8    1006.42       0.20   1323     38
9     919.60       1.60     29      7
10    861.00       0.80     87     10
11    805.30       0.30    584     29
12    787.30       0.50    435     27
13    735.70       0.30    500     24
14      0.00       0.00      0      0
15      0.00       0.00      0      0
16    579.10       0.90    121     15
17    507.70       0.90     62     10
18    488.30       0.70    115     13
19    458.10       1.10     51      9
20    424.30       0.80     77     11
21    406.50       0.50    258     18
22    378.40       0.16   2175     49
23    296.10       1.60     31      9
24    280.20       1.20     53     10
25    247.90       1.20     50     10
26    212.05       0.15   2278     50