In [63]:
ls

116Cd_d,p_117Cd_bite_1_spec_factors.pkl
116Cd_d,p_117Cd_bite_2_spec_factors.pkl
116Cd_d,p_117Cd_bite_3_spec_factors.pkl
116Cd_d,t_115Cd_bite_1_spec_factors.pkl
116Cd_p,d_115Cd_bite_1_spec_factors.pkl
116Cd_p,d_115Cd_bite_2_spec_factors.pkl
116Cd_p,d_115Cd_bite_3_spec_factors.pkl
occupancies.ipynb
Untitled.ipynb

In [140]:
import pandas as pd
import numpy as np
import glob
files = glob.glob('116Cd_d,p*')
files

['116Cd_d,p_117Cd_bite_2_spec_factors.pkl',
 '116Cd_d,p_117Cd_bite_1_spec_factors.pkl',
 '116Cd_d,p_117Cd_bite_3_spec_factors.pkl']

In [141]:
df = None
files = np.sort(glob.glob('116Cd_d,p*'))
print(files)

df1 = pd.read_pickle(files[0])[['ENERGY']]

df2 = pd.read_pickle(files[1])[['ENERGY']]
df3 = pd.read_pickle(files[2])[['ENERGY']]

frames = [df1,df2,df3]
df = pd.concat(frames, axis = 1, sort = False)
#df = df.rename(index=str, columns={"ENERGY": "EB1"})
df

['116Cd_d,p_117Cd_bite_1_spec_factors.pkl'
 '116Cd_d,p_117Cd_bite_2_spec_factors.pkl'
 '116Cd_d,p_117Cd_bite_3_spec_factors.pkl']

         ENERGY       ENERGY       ENERGY
0      0.000000  1222.000000  2272.750000
1    108.495678  1237.000000  2291.422239
2    108.495678  1257.000000  2315.029336
3    136.000000  1279.000000  2556.316398
4    227.000000  1317.043938  2569.900459
5    292.000000  1343.000000  2582.512947
6    338.000000  1355.000000  2594.564658
7    411.982096  1406.322685  2619.879051
8    426.000000  1423.174908  2631.822374
9    442.000000  1440.317309  2645.866442
10   498.000000  1476.000000  2660.771406
11   522.000000  1484.417416  2674.272239
12   568.000000  1648.394737  2690.103788
13   627.037508  1672.172007  2717.128246
14   638.909580  1682.510719  2726.900841
15   665.000000  1691.191296  2743.172648
16   690.000000  1743.810074  2760.928935
17   701.483017  1763.505446  2777.784131
18   727.870105  1791.748219  2793.709183
19   779.000000  1813.127687  2807.662883
20   820.000000  1844.452812  2842.474566
21   863.000000  1880.787837  2855.293977
22   911.737471  1943.000000  2879.031076
23   978.095179  2005.447220  2895.802806
24   999.836699  2023.772547  2904.788875
25  1011.124451  2040.702893  2919.930214
26  1071.552719  2069.930216  2940.446204
27  1082.936501  2131.000000  2953.034203
28  1105.745985  2139.921272  2972.200676
29  1132.476302  1935.338708  3004.092173
30  1221.641873  2183.000000  3037.752380
31  1241.631209  2201.584955  3050.045843
32  1258.039824  2206.983121  3090.139580
33  1279.876518  2232.000000  3114.936723
34  1314.077634  2273.829059  3133.292876
35  1342.114690  2299.436834  3156.367014
36  1355.362934  2317.101803  3150.853479
37  1411.993822  2349.080941  3190.770388
38  1476.012001  2371.153307  3206.623789
39  1485.104356  2394.975781  3230.806053
40          NaN  2410.242626  3245.878115
41          NaN  2416.616401  3265.601138
42          NaN  2432.242029  3284.177774
43          NaN  2454.916846  3303.667008
44          NaN  2461.621164  3325.260117
45          NaN  2477.685156  3349.553869
46          NaN  2491.878218  3363.116016
47          NaN  2491.878218  3382.552471
48          NaN  2511.967543  3401.282628
49          NaN  2521.402026  3420.296413
50          NaN  2532.743580  3439.059121
51          NaN  2542.951706  3454.977865
52          NaN  2552.660727  3472.547910
53          NaN          NaN  3496.257885
54          NaN          NaN  3502.772596
55          NaN          NaN  3520.658308
56          NaN          NaN  3540.668315
57          NaN          NaN  3554.162289
58          NaN          NaN  3562.723193

In [142]:
df1 = pd.read_pickle(files[0])
df2 = pd.read_pickle(files[1])
df3 = pd.read_pickle(files[2])

df2 = df2.drop([0,1,2,3,4,5,6,7,10,11])
df3 = df3.drop([0,1,2,3,4])

dp = [df1, df2, df3]

In [195]:

vacancy0, svacancy0 = 0,0
vacancy1, svacancy1 = 0,0
vacancy2, svacancy2 = 0,0
vacancy3, svacancy3 = 0,0
vacancy4, svacancy4 = 0,0
vacancy5, svacancy5 = 0,0


for f in dp:
    
    vacancy0 += np.sum(f.loc[f['L'] == 0, ['SPECTROSCOPIC_FACTOR']])
    vacancy2 += np.sum(f.loc[f['L'] == 2, ['SPECTROSCOPIC_FACTOR']])
    vacancy4 += np.sum(f.loc[f['L'] == 4, ['SPECTROSCOPIC_FACTOR']])
    vacancy5 += np.sum(f.loc[f['L'] == 5, ['SPECTROSCOPIC_FACTOR']])
    
    f['ESQUARE'] = f['ERROR']**2
    
    svacancy0 += np.sqrt(np.sum(f.loc[f['L'] == 0, ['ESQUARE']]))
    svacancy2 += np.sqrt(np.sum(f.loc[f['L'] == 2, ['ESQUARE']]))
    svacancy4 += np.sqrt(np.sum(f.loc[f['L'] == 4, ['ESQUARE']]))
    svacancy5 += np.sqrt(np.sum(f.loc[f['L'] == 5, ['ESQUARE']]))

In [196]:
j = 0.5
vacancy0 = (2 * j + 1) * vacancy0
svacancy0 = (2 * j + 1) * svacancy0
print(str(vacancy0[0]) + ' +- ' + str(svacancy0[0]))

1.5469111290570627 +- 0.027147198022159556

In [197]:
j = 7/2
vacancy4 = 2 * j  + 1 * vacancy4
svacancy4 = (2 * j + 1) * svacancy4
print(str(vacancy4[0]) + ' +- ' + str(svacancy4[0]))

7.351951467687432 +- 0.09905010897251773

In [198]:
j = 11/2
vacancy5 = 2 * j + 1 * vacancy5
svacancy5 = (2 * j + 1) * svacancy5
print(str(vacancy5[0]) + ' +- ' + str(svacancy5[0]))

11.864790403272945 +- 0.6465445958293008

In [199]:
df = None
files = np.sort(glob.glob('116Cd_p,d*'))


df1 = pd.read_pickle(files[0])[['ENERGY']]

df2 = pd.read_pickle(files[1])[['ENERGY']]
df3 = pd.read_pickle(files[2])[['ENERGY']]

frames = [df1,df2,df3]
df = pd.concat(frames, axis = 1, sort = False)
#df = df.rename(index=str, columns={"ENERGY": "EB1"})
df

         ENERGY       ENERGY       ENERGY
0      0.000000  1063.900000  1862.870000
1    181.000000  1085.000000  1875.200000
2    229.100000  1175.000000  2054.045985
3    343.679164  1209.564222  2077.425494
4    360.500000  1209.564222  2095.238466
5    389.000000  1248.000000  2113.200000
6    416.064688  1266.460117  2131.014162
7    472.700000  1292.473980  2131.014162
8    507.300000  1304.585912  2145.124557
9    566.068974  1317.300000  2176.865287
10   607.561258  1339.018419  2196.568275
11   645.617584  1358.300000  2220.798153
12   659.955126  1456.533866  2246.353097
13   698.316751  1471.462544  2306.889949
14   749.400000  1494.448711  2318.773859
15   776.600000  1515.596557  2332.404602
16   809.749016  1515.596557  2342.559622
17   864.244334  1538.408633  2352.409431
18   878.573382  1574.000000  2364.788262
19   901.503470  1597.000000  2374.896726
20   927.739783  1613.149085  2384.426696
21   942.557448  1625.344245  2397.177156
22   962.315664  1649.346716          NaN
23  1026.569437  1732.134407          NaN
24  1039.139722  1747.835620          NaN
25  1063.782351  1772.725731          NaN
26  1092.100000  1785.161835          NaN
27          NaN  1795.477475          NaN
28          NaN  1805.922029          NaN
29          NaN  1818.000000          NaN
30          NaN  1840.000000          NaN
31          NaN  1840.000000          NaN
32          NaN  1841.298544          NaN
33          NaN  1841.298544          NaN
34          NaN  1851.005074          NaN
35          NaN  1865.530753          NaN
36          NaN  1876.000000          NaN
37          NaN  1885.117066          NaN
38          NaN  1885.117066          NaN
39          NaN  1896.361077          NaN
40          NaN  1911.792282          NaN
41          NaN  1924.675205          NaN
42          NaN  1933.550109          NaN
43          NaN  1944.234562          NaN
44          NaN  1959.440633          NaN
45          NaN  1970.376107          NaN
46          NaN  1986.766403          NaN
47          NaN  1995.028143          NaN
48          NaN  2014.856994          NaN
49          NaN  2048.833064          NaN
50          NaN  2073.838282          NaN
51          NaN  2092.576633          NaN
52          NaN  2113.240000          NaN
53          NaN  2113.240000          NaN
54          NaN  2133.721397          NaN
55          NaN  2133.721397          NaN
56          NaN  2148.119842          NaN

In [200]:
df1 = pd.read_pickle(files[0])
df2 = pd.read_pickle(files[1])
df3 = pd.read_pickle(files[2])

df2 = df2.drop([0,1])
df3 = df3.drop([0,1,2,3,4,5,6,7,8,9])

p_d = [df1, df2, df3]

In [201]:
occupancy0, soccupancy0 = 0,0
occupancy1, soccupancy1 = 0,0
occupancy2, soccupancy2 = 0,0
occupancy3, soccupancy3 = 0,0
occupancy4, soccupancy4 = 0,0
occupancy5, soccupancy5 = 0,0


for f in p_d:
    
    occupancy0 += np.sum(f.loc[f['L'] == 0, ['SPECTROSCOPIC_FACTOR']])
    occupancy2 += np.sum(f.loc[f['L'] == 2, ['SPECTROSCOPIC_FACTOR']])
    occupancy4 += np.sum(f.loc[f['L'] == 4, ['SPECTROSCOPIC_FACTOR']])
    occupancy5 += np.sum(f.loc[f['L'] == 5, ['SPECTROSCOPIC_FACTOR']])
    
    f['ESQUARE'] = f['ERROR']**2
    
    soccupancy0 += np.sqrt(np.sum(f.loc[f['L'] == 0, ['ESQUARE']]))
    soccupancy2 += np.sqrt(np.sum(f.loc[f['L'] == 2, ['ESQUARE']]))
    soccupancy4 += np.sqrt(np.sum(f.loc[f['L'] == 4, ['ESQUARE']]))
    soccupancy5 += np.sqrt(np.sum(f.loc[f['L'] == 5, ['ESQUARE']]))

In [202]:
print(str(occupancy0[0]) + ' +- ' + str(soccupancy0[0]))

0.7791240403865303 +- 0.005609086649494438

In [203]:
print(str(occupancy4[0]) + ' +- ' + str(soccupancy4[0]))

2.728417239543084 +- 0.044663167910917304

In [204]:
print(str(occupancy5[0]) + ' +- ' + str(soccupancy5[0]))

5.123232026999504 +- 0.08132772202543714

In [205]:
N0 = ((occupancy0 + vacancy0) / (1 + 1))[0]
sN0 = ((np.sqrt(soccupancy0**2 + svacancy0**2) / (1+1)))[0]
print(str(N0) + ' +- ' + str(sN0))

1.1630175847217965 +- 0.013860304952416094

In [206]:
N4 = ((occupancy4 + vacancy4) / (7 + 1))[0]
sN4 = ((np.sqrt(soccupancy4**2 + svacancy4**2) / (7+1)))[0]
print(str(N4) + ' +- ' + str(sN4))

1.2600460884038145 +- 0.013581767796909318

In [207]:
N5 = ((occupancy5 + vacancy5) / (11 + 1))[0]
sN5 = ((np.sqrt(soccupancy5**2 + svacancy5**2) / (11+1)))[0]
print(str(N5) + ' +- ' + str(sN5))

1.4156685358560372 +- 0.054303296449837134

In [208]:
occupancy5/N5

SPECTROSCOPIC_FACTOR    3.618949
dtype: float64

In [209]:
occupancy4/N4

SPECTROSCOPIC_FACTOR    2.165331
dtype: float64

In [210]:
occupancy0/N0

SPECTROSCOPIC_FACTOR    0.669916
dtype: float64

l = 2 now

In [214]:
print(occupancy2[0], soccupancy2[0], vacancy2[0], svacancy2[0])

5.239991833742328 0.027989350133891755 2.070207877216317 0.0357829855685627

In [220]:
N2 = (vacancy2[0] + (occupancy2[0])/(2 * 3/2 + 1))/2
sN2 = (np.sqrt(svacancy2[0]**2 + ((soccupancy2[0])/(2 * 3/2 + 1))**2))/2
print(str(N2) + ' +- ' + str(sN2))

1.6901029178259495 +- 0.01823036470258697

In [221]:
occupancy2/N2

SPECTROSCOPIC_FACTOR    3.100398
dtype: float64

In [226]:
totalocc = occupancy2 + occupancy0 + occupancy4 + occupancy5
totalocc

SPECTROSCOPIC_FACTOR    13.870765
dtype: float64

In [228]:
#neutron number of 116Cd
N = 116 - 48
Nfullshell = 50
#so total neutron number - the number in full shells - total occ = 0
N - Nfullshell - totalocc[0]

4.129234859328555

In [229]:
#missing 4 neutrons...

In [225]:
#uncertainty in normalised occupancy for l = 0
occupancy0[0]/N0 * np.sqrt((sN0/N0)**2 + (soccupancy0[0]/occupancy0[0])**2)

0.009327397432731198

In [ ]:
#this looks small